/* Modular Scale
----------------------
  16px @ 1:1.618	
  8px @ 1:1.618	
  http://modularscale.com/scale/?px1=16&px2=8&ra1=1.618&ra2=0
----------------------*/
body {
	width: 980px;               /* 606 + 374 */
	vertical-align: middle;
	margin: 0em auto;
	text-align: left;
  font-size: 16px;
	font-family: Georgia;
}
#header {
  padding: 1em 0em .382em 0em;
}
#nav, #footer, #sidebar {
  font-size: .809em;
}
#nav {
  height: 2.618em;
  line-height: 2.618em;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  font-style: italic;
  margin: 0em 0em 1.309em 0em;
}
#nav_item {
  float: left;
  width: 6.854em;
  padding: 0em 0em 0em .618em;
}
#main {
  width: 606px;               /* 980/1.618 */ 
  float: left;
  margin: 0em 0em 1em 0em;
}
.big_panel {
  width: 606px;
  margin: 0em 1em 0em 0em;
}
.panel {
  float: left;
  width: 271;                 /* 606/2 - 16 */
  height: 232;
  margin: 0em 2em 3em 0em;
  padding: 0em;
}
.small, blockquote, .panel {
	font-size: .809em;
}
#sidebar {
  width: 342px;               /* 374 - 32px */
  float: left;
  border-left: 1px solid #cccccc;
  padding: 0em 0em 0em 2em;
  margin: 0em 0em 2em 0em;
}
#footer {
  clear: left;
  border-top: 1px solid #cccccc;
  padding: 1em 0em;
  color: #aaaaaa;
}
a {
	color: #662200;
  text-decoration: none;
}
h1 {
  color: black;
}
h1, h2, h3, h4 {
  font-weight: normal;
}
h2, h3, h4 {
  font-style: italic;
}
h1 {
	font-size: 4.236em;
  margin: 0em 0em 0em 0em;
}
.h1_sub {
  font-size: .5em;
  font-style: italic;
  color: #aaaaaa;
  text-align: right
}
h2 {
  margin: 0em 0em .5em 0em;
}
h2 {
  font-size: 2.118em;
}
h3 {
  font-size: 1.309em;
  margin: 0em 0em 1em 0em;
}
p {
  margin: 0em 0em 2em 0em;
}
img {
  float: left;
  margin: 0em .5em .2em 0em;
}
.big_picture {
  padding: 0em .818em .309em 0em;
  width: 374px;
}
.thumb {
  width: 143px;
  margin: 0em .5em .5em 0em;
}
table {
  font-size: 1em;
  text-align: left;
  padding: .5em 0em;
}
th, td {
  margin: 2em 0em;
  padding: .309em 0em;
  font-style: italic;
}
th {
  height: 2.118em;
  font-weight: normal;
  font-size: .809em;
  padding: 0em .809em 0em 0em;
  color: #aaaaaa;
}
#hr {
  border-top: 1px solid #cccccc;
  height: 0px;
}
.rssBody ul { 
  list-style: none; 
}
.rssBody ul, .rssRow, .rssRow h4, .rssRow p {
	margin: 0;
	padding: 0;
}
.rssRow { 
  padding: .403em .403em .809em .403em;
}
.rssRow div {
	font-size: .809em;
	color: #666;
	margin: 0.2em 0 0.4em 0;
}
.odd {
  background-color: #eeeeee;
}
.lil_label {
  font-weight: normal;
  font-style: italic;
  font-size: .809em;
  color: #aaaaaa;
  margin: 1em 0em 1em 0em;
  padding: .309em 0em 0em 0em;
  clear: left;
}
